* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
body {
  background-color: #1f242d;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
header .container h1 {
  color: white;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header nav ul li a {
  color: rgb(211, 208, 208);
  text-decoration: none;
  font-weight: bold;
  transition: 1.2s;
}
header nav ul li a:hover {
  color: yellow;
  border-bottom: 2px solid yellow;
  padding: 10px;
  transform: translateY(-2px);
  transition: 1.2s;
}

header button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  font-family: "Bitcount Single", system-ui;
  text-align: center;
  flex-direction: column;
}

.hero h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(200, 197, 197);
  max-width: 600px;
}
.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.hero h2 span {
  color: rgb(42, 42, 255);
}
.hero .icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.hero .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50%;
  transition: 1.2s;
  cursor: pointer;
  font-size: 24px;
  color: blue;
}
.hero .icons .icon i {
  pointer-events: none;
  color: white;
}
.hero .icons .icon:hover {
  background-color: blue;
  color: white;
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
}
.hero button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  background-color: blue;
  color: rgb(0, 195, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px blue;
  border-radius: 25px;
}
.hero button:hover {
  background-color: #0000cc;
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
}
.card {
  color: white;
  width: 380px;
  height: 380px;
  background-color: #323946;
  border: 2px solid #1f242d;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
}

.card h2 {
  margin: 10px 0;
}
.card p {
  color: rgb(200, 197, 197);
  margin-bottom: 20px;
}
.card button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: blue;
  color: rgb(0, 195, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px blue;
  border-radius: 54px;
  background: #0000ff;
  box-shadow:
    inset 19px 19px 89px #000085,
    inset -19px -19px 89px #0000ff;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.card p {
  margin: 40px 0;
}
.hh {
  text-align: center;
  color: #00eeff;
  margin-top: 50px;
  font-size: 36px;
  font-family: "Bitcount Single", system-ui;
}
.card-icon1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #ff7b00;
}
.card-icon2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #00eeff;
}
.card-icon3 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #f7df1e;
}

.project {
  width: 350px;
  height: 200px;
  color: white;
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 36px;
  font-family: "Bungee", sans-serif;
}
.project h3 {
  margin-top: 10px;
  font-size: 24px;
  list-style: none;
  margin-top: 50px;
}
.project img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.projects {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero4 {
  background-color: #323946;
  padding: 40px 40px;
  margin-top: 50px;
}
.hero4 .container {
  padding: 40px 40px;
}

.hero5 {
  padding: 40px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero5 form {
  padding: 40px 40px;
  background-color: #323946;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}
.hero5 form input,
.hero5 form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.hero5 form button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  background-color: blue;
  color: rgb(0, 195, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px blue;
  border-radius: 25px;
}
form .flex {
  display: flex;
  gap: 20px;
}
form input {
  width: 50%;
  background-color: #1f242d;
  transition: 1.2s;
}
form input:hover {
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
  color: white;
}
form input:focus {
  outline: none;
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
  color: white;
}
form textarea {
  background-color: #1f242d;
  height: 150px;
  resize: none;
  color: white;
  transition: 1.2s;
}
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
  color: white;
}
form textarea:hover {
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
  color: white;
}
.hero5 .container h2 {
  color: #00eeff;
  font-size: 35px;
  text-align: center;
  font-family: "Bitcount Single", system-ui;
}
form button:hover {
  background-color: #0000cc;
  box-shadow: 0px 0px 15px 0px blue;
  transform: translateY(-2px);
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: blue;
  transform: translateY(-2px);
}
.social-icons a {
  pointer-events: none;
}
footer {
  padding: 20px;
  color: rgb(150, 150, 150);
  background-color: #1f242d;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: blue;
  text-decoration: none;
  margin-bottom: 10px;
}












@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .container nav {
    display: none;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 24px;
  }
  header .container h1 {
    font-size: 24px;
    text-align: center;
  }
  header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero p {
    width: 90%;
    text-align: center;
  }
  .hero .icons {
    padding: 0 20px;
  }
  .hero5 form .flex {
    flex-direction: column;
  }
  .hero5 form input {
    width: 100%;
  }
  .hero5 form button {
    width: 90%;
    font-size: 90%;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header button {
    display: block;
  }
}
